.col-img {
  height: 100vh;
  padding-right: 200px !important;
}

html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
.sfondo-img {
  background-image: url(https://www.quotidiano.net/image-service/version/c:M2E0NmYzMzctNDMxYi00:MzFiYmUz/pannelli-solari-istock-photo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.form-cont {
  width: 400px;
  height: 420px;
}
.form {
  width: 300px;
}
.button-login:hover {
  background-color: transparent;
}
.form-reg-cont {
  width: 400px;
  height: 650px;
}
.but-home {
  width: 200px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.cont-home {
  width: 350px;
  height: 250px;
}
